.leftHeader {
  text-align: left;
}

.rightHeader {
  text-align: right;
}

.greeting {
  margin: 10px auto;
}
.gameOver {
  margin: 10px auto;
}

.col-6 {
  margin: 0 auto;
}

.input-group {
  margin-bottom: 15px;
}

.highScores {
  margin: 0 auto;
}


.wrapper {
  width: 550px;
}

#amountAsked {
  margin: 0 auto;
}

#amountCorrect {
  margin: 0 auto;
}

#quiz {
  width: 550px;
  margin: 10px auto;
}
